@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Mukta:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,900;1,700&display=swap');

* {
  font-family: 'Mukta', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #BFACE2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.App{
  text-align: center;
}

.todo-wrapper{
  background: #0C134F;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
}
.to-do, .todo-btn, .todo-wrapper p{
  border: none;
  padding: 1rem;
  outline: none;
  cursor: pointer;
}
.todo-btn{
  background: #645CBB;
  color: #fff;
}
.todo-form{
  width: 100%;
  margin: 1.5rem 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #A084DC ;
  color: #fff;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
}

.completed {
  color: #1D267D;
  text-decoration: line-through;
}

.todo i {
  padding: 0 0.25rem;
  cursor: pointer;
}

@media screen and (max-width:740px){
  
  .todo-p{
    grid-area: para;
  }
  .to-do{
    grid-area: input;
  }
  .todo-btn{
    grid-area: button;
  }
  .todo-form{
    display: grid;
    grid-template-areas:
    "para para para para para para para"
    "input input input input input button button" ;
  }
  /* .item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "menu header header header header header header"
    "menu main main main main main right"
    "footer footer footer footer footer footer footer";
  gap: 10px;
  color: #848484;
  background-color: black;
  padding: 10px;
  height: 100vh;
} */
}



